<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Runtime.Latest" version="0.8.31.3" targetFramework="net462" />
  <package id="NLog" version="4.4.10" targetFramework="net462" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="SharpDisasm" version="1.1.5" targetFramework="net452" />
  <package id="Zodiacon.WPF" version="1.2.3" targetFramework="net462" />
</packages>